@use "../../assets/stylesheets/Variables.module.scss" as *;
.logo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  .logo {
    color: $primary-logo-color;
    transform: translateY(0);
    animation: header-scroll-down 2s ease-in-out infinite;
  }
  .logo__name {
    display: flex;
    align-items: center;
    .brand__smart {
      color: $primary-header-text-color;
      font-family: $extra-bold-font-family;
      font-size: 1.25rem;
      font-weight: $font-weight-bold;
    }
    .brand__shop {
      color: $primary-logo-color;
      font-family: $base-font-family;
      font-size: 1.25rem;
      font-weight: $font-weight-extra-bold;
      margin-left: 0.2rem;
    }
  }
}
@keyframes header-scroll-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
}

h1 {
  margin: 0;
  font-family: $bold-font-family;
  font-weight: $font-weight-bold;
  font-size: 40px;

  .upper__Smart {
    color: $primary-header-text-color;
  }

  .upper__Shop {
    color: $primary-logo-color;
  }
}
