/*------------------------------------*\
** COLORS
\*------------------------------------*/

/*------------------------------------*\
** FONT CONFIG
\*------------------------------------*/
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

$base-font-family: "Inter", sans-serif;
$bold-font-family: "Inter", sans-serif;
$extra-bold-font-family: "Inter", sans-serif;

/*------------------------------------*\
** FONT WEIGHTS
\*------------------------------------*/
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
